
/*body {*/
/*  padding: 100px;*/
/*}*/
.body{
  line-height: 1.6;
  background-color: #FFFFFF;
  color: #333;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/Frame3866.png');
  background-size: cover;
  background-clip: content-box;
  background-origin: content-box;
  background-repeat: no-repeat
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: #fff;
  display:flex;
  justify-content: center;
}
.header_img{
  float: left;

}
.header_item {
  width: 100px;
  padding: 10px;
  margin-right: 50px;
  color: #4F5665;
  text-align: center;
  font-weight: 400;
  text-decoration: none;

}



main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: #fff;
}

main a :hover {
  text-decoration: underline;
}

.active{
  color: grey;
}
